#form1 {
	border-radius: 3%;
	padding: 2%;
	margin: 0 auto;
	width:100%;    
}

h1 {
	color: #004d00;	
	margin: 0 auto;
	font-size: 2vw;
}

input[type="submit"] {
	background-color: #004d00;
	padding: 15px 32px;
	font-size: 0.9em;
	border: none;
	color: white;
}

input[type=submit]:hover {
  background-color: #45a049;
}
  
.error_message {
	color: #B90000;
}
  
.order_recived{
	color: #1E9E1E;
}

.Information{
	width: 40%;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}