/* Food Menu Content */
#food-menu{
	position: relative;
	text-align: center;
	font-size: 3vw;
	color: #004d00;
	top: 150px;
}

.content {
	position: relative;
	top: 145px;
	margin: auto;
	width: 80%;
	padding: 10px;
}
.menucolumn {
	position: relative;
	border: 2px solid #73AD21;
	padding: 5px;
}
.menucolumn img {
	width: 15%;
	border-radius: 5px;
}
.menucolumn h2{
	position: absolute;
	font-size: 2vw;
	right: 65%;
	top: 10%;
}

.menucolumn p{
	position: absolute;
	font-size: 2vw;
	right: 65%;
	top: 40%;
}

/* Go to Home page button */
button {
  background-color: #004d00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 5px;
}

/* menue page footer */

footer {
	position: relative;
	top:145px;
	background-color: #333;
	text-align: center;
	padding: 60px;
	color: white;
}

footer h3 {
  font-size: 1.3vw;
}
