#Ordersummary {
    position: relative;
    text-align: center;
    font-size: 3vw;
    color: #004d00;
    top: 150px;
}

.checkout-content {
    position: relative;
    top: 150px;
}

.DeleteFood button {
  position: absolute;
  right: 35%;
  top: 35%;
  background-color: #004d00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 5px;
}

.checkout button {
  background-color: #004d00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 5px;
}


.checkout-content {
    position: relative;
    top: 145px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.DeleteFood {
    position: relative;
    border: 2px solid #73AD21;
    padding: 5px;
}

/* menue page footer */

footer {
    position: relative;
    top:145px;
    background-color: #333;
    text-align: center;
    padding: 60px;
    color: white;
}

footer h3 {
  font-size: 1.3vw;
}