/* banner */
.banner {
  position: relative;
}

.banner img{
  width: 100%;
}

.banner .welcome {
  background-color: #A9A9A9;
  color: white;
  position: absolute;
  padding: 30px;
  left: 0px;
  top: 30%;
}

.banner h1 {
  font-size: 25px;
}

.banner .welcome span {
  font-size: 1.5em;
}

.banner .btn {
  position: absolute;
  left: 50%;
  top: 80%;
  background-color: #555;
  color: white;
  font-size: 0.875em;
  padding: 12px 24px;
  border-radius: 5px;
}

/* navbar */
nav {
  position: sticky;
  top: 105px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004d00;
}

nav li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #003300;
}

nav li .active {
  color: #cccc00;
}

#shopping-cart {
  float: right;
}

#shopping-cart i {
  margin-right: 5px;
}

/* main content */

.main-nav:after {
  content: "";
  display: block;
  clear: both;
}

main{
  max-width: 100%;
  width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

/* Food row images*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: center;
}

.row .column img {
  width: 100%;
  border-radius: 10%;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* footer index.php styles */

footer {
  background-color: #333;
  text-align: center;
  padding: 60px;
  color: white;
}

footer h3 {
  font-size: 1.3vw;
}

/* sign up */

.center_div
{
    border-radius: 3%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width:30% 
}

/* login */
#icon{
  width:60%;
  border-radius: 50%;
}

.login_center
{
  border-radius: 3%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  width:30% 
}



