/* content of the page */
.content {
  max-width: 80%;
  margin: auto;
  background: white;
  padding: 10px;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 10px;
}
/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

#shopping-cart {
	float: right;
}

.active {
  background-color: #4CAF50;
}

/* The big image on index.htm */
#header-image {
  width: 100%;
}

.top-image {
  position: relative;
  top:;
}

.top-image .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* Food row images*/

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 10px;
  text-align: center;
}

.row .column img {
	width: 100%;
	border-radius: 20%;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}


/* footer styles */

.column1 {
	float: left;
	width: 30%;
	color: white;
}

.column1 img {
  max-width: 250px;
  height: auto;
}

footer {
	background-color: #333;
	height: 300px;
}

/* menu.php */
.menucolumn img{
    height: 100px;
    width: 100px;
}


